/* Font */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* Variables */
:root {
  --light-text: #ffffff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --outline: hsl(217, 16%, 45%);
  --bg-grad-1: hsl(214, 47%, 23%);
  --bg-grad-2: hsl(237, 49%, 15%);
 --yellow:#FFA943;
 --bule: #0074B6;
  --pink: #BD00FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: #8cc461;
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
}

/* Main Content */
.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
}

.logo img {
  height: 100%;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

.my_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 120px;
  height: 100%;
  line-height: 1;
  padding: 10px;
}

.computer_score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  width: 120px;
  height: 100%;
  line-height: 1;
  padding: 10px;
}

.score__title {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  color: var(--score-text);
}

.score__number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}

.pc__number {
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-text);
}

/* Game */
.game {
  position: relative;
  display: grid;
  grid-template-columns: (repeat(2, 1fr));
  grid-template-areas:
    "rock scissors"
    "paper paper";
  place-items: center;
  height: 30rem;
  padding-top: 4rem;
}
.game::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 28%;
  top: 35%;
  background: url("./images/bg-triangle.svg") no-repeat ;
  z-index: -1;
}

.choice-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.choice {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  z-index: -1;
}

.choice::after {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.choice-btn:focus .choice::after {
  opacity: 1;
  box-shadow: 0 0 0 2rem #223351;
  z-index: -2;
}

.choice img {
  transform: scale(1.5);
}

.choice.paper::before {
  background: linear-gradient(to bottom, var(--yellow), var(--yellow));
}
.choice.scissors::before {
  background: linear-gradient(to bottom, var(--pink), var(--pink));
}
.choice.rock::before {
  background: linear-gradient(to bottom, var(--bule), var(--bule));
}

.choice-btn[data-choice="paper"] {
  grid-area: paper;
}
.choice-btn[data-choice="scissors"] {
  grid-area: scissors;
}
.choice-btn[data-choice="rock"] {
  grid-area: rock;
}

/* Results */
.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-template-areas:
    "you-title ai-title"
    "you-picked ai-picked";
  max-width: 1000px;
  margin: 0 auto;
}

.results__heading {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  padding: 4rem 0 8rem;
}
.results__result {
  min-width: 10rem;
  min-height: 10rem;
  background: #16213d;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results__heading:first-of-type {
  grid-area: you-title;
}
.results__heading:last-of-type {
  grid-area: ai-title;
}
.results__result:first-of-type {
  grid-area: you-picked;
}
.results__result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .choice::after {
  box-shadow: 0 0 0 30px rgba(46, 154, 37, 0.39), 0 0 0 60px rgba(42, 118, 35, 0.39), 0 0 0 120px rgba(47, 154, 37, 0.34);
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results__winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results__text {
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}
.results__text2 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
.play-again {
  background: #fff;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color: var(--dark-text);
  padding: 0.6rem 3.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.play-again:focus {
  border: 2px solid var(--outline);
}



/* Rules Button */

.footer-btn {
  position: absolute;
  margin: 2rem 1rem;
  top: 130%;
  left: 72%;
}

.rules-btn {
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.next-btn {
  background: none;
  outline: none;
  display: none;
  border: 2px solid white;
  border-radius: 0.6rem;
  color: white;
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.rules-btn {
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.6rem 2.5rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.rules-btn:focus {
  border: 2px solid #fff;
}



/* Utilities */
.preload * {
  transition: none;
}

.hidden {
  display: none;
}

/* Rules Modal */

.rules {
  border-radius: 13px;
border: 7px solid #FFF;
background: #004429;
color: white;
height: 22rem;
width: 25rem;
padding: 1.3rem;
}

.rule_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.9rem;
}
li{
  padding: 10px;
  align-items: center;
  list-style: none;
}

.li {

  display: flex;
  align-items: center;
  justify-content: center;
}

.li_img {
  height: 5px;
  width: 5px;
}

.rules_box {
  position: absolute;
   top: 50%;
   left: 60%;
   height: 27rem;
   width: 28rem;
   display: flex; align-items: center;
   justify-content: center;
   opacity: 0;
}

.back {
  margin: 2px;
  position: absolute;
  top: 2%;
  left: 85%;
  cursor: pointer;
}

.back_text{
  margin: 2px;
  position: absolute;
  top: 12%;
  left: 30%;
  color: #FFF;
}




/* ---------------Responsive Design ---------------- */



/* For Desktop View */
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    
    align-items: center;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
  }
}


/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: orange;
        color: black;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    .gfg-div {
        width: 200px;
        height: 200px;
        background-color: red;
        color: #fff;
    }
}